# Virtual env
.venv/

# Database
# data/*.db

# Logs
log/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Python cache
__pycache__/
*.pyc

# PID files
tmp/*.pid
